.actions-container { 
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
}

.wallet-button { 
  margin: 10px 20px;
  padding: 10px 20px;
  border: 0;
  background: #7F5AF0;
  color: #fff;
  border-radius: 4px;

  &:hover { 
    background-color:#7452DB;
  }
}